{% extends "base.html" %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Create instant free polls in a flash</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Get real-time results for engagement, for work, for personal
          feedback and for just whatever you want
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="{{url_for('new')}}"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Create Your Poll</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{{url_for('static', filename='assets/img/hero-img-2.png')}}" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<!-- ======= Results Section ======= -->
<section id="feature-results" class="features">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h2>Simple, effective and fast feedback</h2>
      <p>We have simplified creating polls to give just the right tools and features you need.</p>
    </header>

    <div class="row home-features">

      <div class="col-lg-6">
        <h2 class="heading3 home-section-heading">Voting made fun <br>and simple</h2>
        <p class="home-section-text">A simple and clean way to effortlessly vote</p>
      </div>

      <div class="col-lg-6">
        <img src="{{url_for('static', filename='assets/img/feat-1.jpg')}}" class="img-fluid" alt="">
      </div>

    </div> <!-- / row -->
  </div>

</section><!-- End Features Section -->

<!-- ======= Interact Section ======= -->
<section id="feature-interact" class="features">

  <div class="container" data-aos="fade-up">

    <div class="row home-features">

      <div class="col-lg-4">
        <h2 class="heading3 home-section-heading">Interact with your audience in an instant</h2>
        <p class="home-section-text">Create a poll and you will immediately be given a url to your poll. Share the url
          with anyone and gather votes in seconds.</p>
      </div>

      <div class="col-lg-8">
        <img src="{{url_for('static', filename='assets/img/feat-2.jpg')}}" class="img-fluid" alt="">
      </div>

    </div> <!-- / row -->
  </div>

</section><!-- End Features Section -->

<!-- ======= Account Section ======= -->
<section id="feature-account" class="features">

  <div class="container" data-aos="fade-up">

    <div class="row home-features">

      <div class="col-lg-6">
        <h2 class="heading3 home-section-heading">More flexibility & control over your polls</h2>
        <p class="home-section-text">Create a 100% free account to gain access to more advanced control for your polls.
          Fast Poll
          user dashboard</p>
      </div>

      <div class="col-lg-6">
        <img src="{{url_for('static', filename='assets/img/feat-3.jpg')}}" class="img-fluid" alt="">
      </div>

    </div> <!-- / row -->
  </div>

</section><!-- End Features Section -->

<!-- ======= Share Section ======= -->
<section id="feature-share" class="features">

  <div class="container" data-aos="fade-up">

    <div class="row home-features">

      <div class="col-lg-4">
        <h2 class="heading3 home-section-heading">Ideal for easily sharing at events</h2>
        <p class="home-section-text">Just share the QR code in the presentation and allow everyone in the room to access
          and vote on a poll in just a few taps.</p>
      </div>

      <div class="col-lg-8">
        <img src="{{url_for('static', filename='assets/img/feat-4.jpg')}}" class="img-fluid" alt="">
      </div>

    </div> <!-- / row -->
  </div>

</section><!-- End Features Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <!-- Feature Icons -->
  <div class="row feature-icons" data-aos="fade-up">
    <h3>A perfect suite of features that give you exactly the control you need</h3>

    <div class="row">

      <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
        <img src="{{url_for('static', filename='assets/img/feat-4.jpg')}}" class="img-fluid p-4" alt="">
      </div>

      <div class="col-xl-8 d-flex content">
        <div class="row align-self-center gy-4">

          <div class="col-md-6 icon-box" data-aos="fade-up">
            <i class="ri-line-chart-line"></i>
            <div>
              <h4>No account needed</h4>
              <p>Create poll without the need to register account. Just click the create poll to instantly get your feedback.</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="ri-stack-line"></i>
            <div>
              <h4>Instant Share</h4>
              <p>There are many ways to share your poll once it is create. Share on WhatsApp, Facebook, Twitter with a click. </p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="ri-brush-4-line"></i>
            <div>
              <h4>Set end date</h4>
              <p>You can set a poll close date where no more votes can be registered. The results will still be made available.</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="ri-magic-line"></i>
            <div>
              <h4>Prevents multiple voting</h4>
              <p>FlashPoll.io uses session cookie logging to prevent users from voting multiple times.</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <i class="ri-command-line"></i>
            <div>
              <h4>Api access</h4>
              <p>Integrate your polls with other apps including into PowerPoint presentations</p>
            </div>
          </div>

          <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <i class="ri-radar-line"></i>
            <div>
              <h4>Vote editing</h4>
              <p>Register an account to be able to edit or delete polls.</p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div><!-- End Feature Icons -->

</section><!-- End Features Section -->

{% endblock %}