{% extends "base.html" %}
{% block content %}
  
  <main id="main">
    <section id="signin">
      
  <div class="container">
 <div class="row justify-content-center h-100 align-items-center">
   <div class="col-md-8">
    <h2 class="fs-1">Q</h2>
    <h2>{{ poll.question }}</h2>
    <p class="date">Created by {{ poll.userFullName }} <time class="timeago" datetime="2021-06-03T16:19:24+0000" title="3rd June 2021">about {{ poll.timeSince }} ago</time></p>
    <p>Choose one or more options:</p>
    <form method="POST" action="{{ url_for(request.endpoint, poll_id=poll_id) }}">
      {% for key, val in poll['pollQuestions'].items(): %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pollOption" value="{{ key }}" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          {{ val.option }}
        </label>
      </div>
      {% endfor %}
      
      <button type="submit" class="btn btn-primary w-75">Submit</button>
    </form>
        
      </div>
    </div> 
  </div>
</section>
</main>

{% endblock %}