{% extends "base.html" %}
{% block content %}

<main id="public">
  <section id="signin">



    <div class="container">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-10">

          <h2>Public Polls</h2>
          <p>Below are the public polls created by Fast Poll members.</p>

          {% for poll in polls %}
            <a class="card mb-3" href="{{url_for('poll', poll_id=poll._id)}}">
              <div class="card-body">
                <h2 class="card-title">{{ poll.question }}</h2>
                <p class="date">Created <time class="timeago" datetime="2021-06-03T16:19:24+0000"
                    title="3rd June 2021">about {{ poll.timeSince }} ago</time></p>
                <span class="badge rounded-pill bg-success">{{ poll.totalVotes }} Votes</span>
              </div>
            </a>
          {% endfor %}

          <nav aria-label="...">
            <ul class="pagination pagination-lg">
              <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}