{% extends "base.html" %}
{% block content %}

<main id="main">
  <section id="signin">

    <div class="container">
      <div class="row justify-content-center h-100 align-items-center">
        <div class="col-md-4">
          <div class="authincation-content">
            <div class="row no-gutters">
              <div class="col-xl-12">
                <div class="auth-form">
                  <h4 class="mb-4">Sign Up</h4>
                  <p>Complete the below form to create your account</p>
                  <form class="row g-3">
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="col-12">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" id="inputUsername" placeholder="Username">
                    </div>
                    <div class="col-12">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          I agree to the terms of use
                        </label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary w-100">Sign in</button>
                    </div>
                  </form>
                  <div class="new-account mt-3 text-center">
                    <p class="">Already have an account? <a class="" href="/react/demo/page-register">Login</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}