{% extends "base-user.html" %}
{% block content %}

<main id="main">
  <section id="signin">

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
          <h2>Dashboard</h2>
          <p>Below are some stats around your activity.</p>



          <div class="col-md-10">
            {% for poll in polls %}
            <a class="card mb-3" href="{{url_for('poll', poll_id=poll._id)}}">
              <div class="card-body">
                <h2 class="card-title">{{ poll.question }}</h2>
                <p class="date">Created <time class="timeago" datetime="2021-06-03T16:19:24+0000"
                    title="3rd June 2021">about {{ poll.timeSince }} ago</time></p>
                <span class="badge rounded-pill bg-success">{{ poll.totalVotes }} Votes</span>
              </div>
            </a>
            {% endfor %}
          </div>

        </div>

      </div>

    </div>
  </section>
</main>

{% endblock %}