{% extends "base.html" %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
  integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<main id="main-user">
  {{ pollOptions }}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <header class="page-head">
          <h1 class="page-title">Edit your poll</h1>
          <p class="page-subtitle">Fill out as many poll question options as you need</p>
        </header>

        <form method="POST" action="{{ url_for('new') }}">
          {{form.hidden_tag()}}
          <!-- Poll Question -->
          <div class="poll-question mb-4">
            <label for="pollQuestion" class="form-label">Write your Poll quesion:</label>
            <div class="form-floating">
              {{form.pollQuestion(class_="form-control", style="height: 100px")}}
            </div>
          </div>

          <!-- Poll Options -->
          {% for key, val in poll['pollQuestions'].items(): %}
          <div class="mb-4">
            <label for="{{ key }}" class="form-label">Poll option</label>
            <input class="form-control" id="{{ key }}" name="pollOption" placeholder="Poll Option" type="text"
              value="{{ val.option }}">
          </div>
          {% endfor %}

          <button id="addNew" type="button" class="btn btn-primary" onclick="addOption()">Add Another Option</button>

          <div class="poll-options mt-5">

            <h2>Poll Options</h2>

            <label for="end-date" class="form-label mt-4">You can choose to end poll voting on a specific date</label>
            <div class="input-group mb-3">
              <input id="end-date" type="text" name="end-date" class="form-control" placeholder="End Date"
                data-provide="datepicker" value="{{poll['endDate']}}">
              <span class="input-group-text" id="basic-addon2"><i class="bi bi-calendar-plus"></i></span>
            </div>

            <label for="status" class="form-label mt-4">Polls are automatically private which means that people can
              only vote on a poll that you have shared the link with. Making a poll public means that your poll is
              visble and searchable by anyone.</label>
            <select id="status" class="form-select" aria-label="status" name="status">
              <option {% if poll['public'] %} selected {% endif %}value="True">Public</option>
              <option {% if not poll['public'] %} selected {% endif %} value="Fales">Private</option>
            </select>

          </div>
          <div class="d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-poll w-75 mt-5">Edit Poll</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</main>

<script>
  function addOption() {
    // Create a new element
    var newNode = document.createElement('div');
    newNode.innerHTML = `<div class="mb-3">
        <label for="pollOption" class="form-label">Poll option</label>
        <input name="pollOption" class="form-control" id="pollOption">
      </div>`

    // Get the reference node
    var referenceNode = document.getElementById('addNew');

    referenceNode.parentNode.insertBefore(newNode, referenceNode);
  };
</script>

{% endblock %}